<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
  </configSections>
  <appSettings>
    <add key="AwsCredentialsFilePath" value="C:\aws_credentials.xml" />
    <add key="AWSRegion" value="ap-southeast-1" />
    <add key="TablePrefix" value="qwerty" />
    <!-- Should point to $/LINQ2DynamoDB/Lib/MemcachedServer folder -->
    <add key="MemcachedBinaryPath" value="..\..\..\..\..\Lib\MemcachedServer\memcached.exe" />
    <add key="RedisBinaryPath" value="..\..\..\..\packages\redis-64.3.0.503\tools\redis-server.exe" />
    <add key="RedisLocalAddress" value="localhost:6379" />
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to registered an accounts using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.-->
    <add key="AWSProfileName" value="" />
  </appSettings>
  <aws region="eu-west-1" profileName="">
    <dynamoDB>
        <dynamoDBContext tableNamePrefix="VolatileTest-"/>
      </dynamoDB>
  </aws>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%utcdate{ISO8601} [%1.3t] %-5p - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
    </root>
    <logger name="Amazon">
      <level value="OFF" />
    </logger>
    <logger name="DynamoDbTestClient">
      <level value="OFF" />
    </logger>
  </log4net>
  <enyim.com>
    <memcached protocol="Text">
      <servers>
        <add address="localhost" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:00:20" />
    </memcached>
  </enyim.com>
</configuration>